body{
  font-family: "Montserrat", sans-serif;
  background: #111;
  user-select: none;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.img-fluid{
  border-radius:5px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: changeColor 5s infinite alternate;
}
@keyframes changeColor {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.logo a {
  color: transparent;
  text-decoration: none;
}


#higher{
 margin-top: 3px;
  display: flex;
  width: 100%;
  overflow: scroll; 
}
    .Loadmovie-container {
      width: 158px;
      height: 200px;
      margin: 5px;
      border-radius: 4px;
      background-color: #222;
    }
    .Loadmovie-info {
      padding: 10px;
    }
    .Loadmovie-title {
      height: 20px;
      background-color: #333;
      animation: animate-title 0.5s ease-in-out infinite alternate;
    }
    @keyframes animate-title {
      0% {
        background-color: #333;
      }
      50% {
        background-color: #444;
      }
      100% {
        background-color: #333;
      }
    }
    .Loadmovie-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 60px);
      margin-top: 10px;
    }
    .Loadmoviegenre,
    .Loadmoviesynopsis {
      margin-bottom: 5px;
    }
    .Loadmoviegenre,
    .Loadmoviesynopsis,
    .Loadmovierating {
      height: 10px;
      background-color: #444;
      animation: animate-text 0.5s ease-in-out infinite alternate;
    }
    @keyframes animate-text {
      0% {
        background-color: #444;
      }
      50% {
        background-color: #555;
      }
      100% {
        background-color: #444;
      }
    }
    .Loadmovierating {
      width: 50px;
    }
    
    
#home-template {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.movies {
  margin-top: 3px;
  display: flex;
  width: 100%;
  overflow: scroll;
}
.movie-card {
    width: 228px;
  margin: 10px;
  text-align: center;
  flex: 0 0 auto;
    border: solid 1px #f5f5f576;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background:#f5f5f516;
  background-color: #f5f5f516;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
/* Apply hover effect to movie card */
.movie-card:hover img {
  animation-duration: 0.5s; /* Adjust animation duration as needed */
  animation-fill-mode: both;
}
/* Animation effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* Apply pulse animation */
.movie-card:hover img {
  animation-name: pulse;
}
.movie-card h2 {
  margin: 10px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
}
.movie-card p {
  margin: 10px;
  font-size: 10px;
  color: whitesmoke;
}
.movie-card h3{
  color:#111;
}

.modal-body{
  color:#111;
}

/* Play button styling */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px whitesmoke;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.play-button i {
  color: white;
  font-size: 24px;
}
/* Play button hover effect */
.play-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}3oo
.img-fluid{
  border-radius: 5px;
}
.modal-footer,
.modal-header{
  border:none;
}
.instruction {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  color:#111;
  padding: 10px;
  margin-bottom: 20px;
}
.instruction p {
  margin: 0;
}
.instruction i {
  margin-right: 10px;
}
.modal-body{
  color:whitesmoke;
}
.modal-title{
  font-weight: bolder;
}

.search-results,
.series{
margin-top: 3px;
  display: flex;
  width: 100%;
  overflow: scroll;
  }
.series-card {
   display: flex;
  align-items: center;
  margin: 10px;
  padding: 1px;
  border: 1px solid #cccccc25;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 158px;
  text-align: center;
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.series-card img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.series-card h3 {
  margin: 10px;
  color: #111;
  font-size: 18px;
  font-weight: bold;
}
.series-card p {
  margin: 10px;
  font-size: 14px;
  color: #111;
}
.series-card:hover img {
  animation-name: pulse;
}
/* Apply hover effect to movie card */
.series-card:hover img {
  animation-duration: 0.5s; /* Adjust animation duration as needed */
  animation-fill-mode: both;
}
.series-card:hover{
  transform: scale(1.05);
}


#seasonbtn{
  margin-top:10px;
}

#seasonsSection {
  /* Overall section styling */
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap; /* Prevent line breaks within the section */
  scroll-snap-type: x mandatory; /* Enable snapping to cards */
  padding: 10px;
}

.season-card {
  /* Individual card styling */
  display: inline-block; /* Display cards side-by-side */
  width: 200px; /* Adjust width as desired */
  margin: 10px; /* Add spacing between cards */
  text-align: center; /* Center content within cards */
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer; /* Indicate interactivity on hover */
  scroll-snap-align: start; /* Snap cards to the left edge of the viewport */
  transition: transform 0.2s ease-in-out; /* Smooth hover effect */
}

.season-card:hover {
  /* Hover effect */
  transform: scale(1.05); /* Subtle zoom on hover */
}

.season-card img {
  /* Image styling within cards */
  width: 100%;
  height: auto; /* Adjust height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the card */
}

.season-card.active {
  color:#111;
  /* Styles for the active (clicked) card */
  background-color: blueviolet; /* Example: Change color to yellow */
  border: 2px solid blueviolet; /* Example: Add a yellow border */
  /* You can customize the styles as desired */
}

.season-card p {
  /* Text styling within cards */
  margin: 5px 0; /* Add some padding around the text */
}


.episode-button {
  /* General styling */
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.episode-button:hover {
  /* Hover effect */
  background-color: #e0e0e0;
  transform: scale(1.02);
}

.search-result-card,
#bolo .movie-card{
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 1px;
  border: 1px solid #cccccc25;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 158px;
  text-align: center;
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.search-result-card img,
#bolo .movie-card img{
 width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px; 
}

#bolo .movie-card:hover{
  transform: scale(1.05);
} 





#tintin{
  margin:10px;
}
a{
  color:whitesmoke;
}
.lazyload {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.lazyload.loaded {
  opacity: 1;
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000c9;
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sticky-header .logo {
  font-size: 1.5rem;
  padding-left: 20px;
}
.sticky-header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  display: flex;
}
.sticky-header nav ul button {
  margin-right: 15px;
}
.sticky-header nav ul button:last-child {
  margin-right: 5px;
}
.sticky-header nav ul button {
  padding: 10px;
  border:none;
  border-radius: 5px;
  color: whitesmoke;
  background: none;
  text-decoration: none;
  transition: color 0.3s ease;
}
.sticky-header nav ul button:hover {
  color: blueviolet;
}
#main{
  margin-top:80px;
}
.alert{
  margin:10px;
  font-weight: bold;
}
.Edges{
  margin: 10px;
}
.majortext{
  font-weight: bold;
  margin: 10px;
}

.video-container {
margin-top: 3px;
  display: flex;
  width: 100%;
  overflow: scroll;
}
.video-container iframe {
  margin: 10px;
  width: 100%;
  border:1px solid #f5f5f576;
  border-radius: 15px;
  height: 200px; /* Adjust height as needed */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */

  
}
#comingSoonSection {
  /* Specify the height of the div */
   /* Adjust as needed */

  /* Set the background image to cover the entire div */
  background-size: cover;
  
  /* Center the background image vertically and horizontally */
  background-position: center;
  
  /* Ensure the background image remains visible even if the div is smaller */
  background-repeat: no-repeat;
}


.search-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
}

/* Input field styling */
.form-control {
  flex: 1; /* Expands to fill remaining space */
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.form-control-lg {
  font-size: 1.25rem;
  padding: 0.75rem;
}

/* Button styles */
.search-container button {
  border: none;
  font-size: 1.25rem;
  padding: 0.75rem;
  color:whitesmoke;
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.search-container button:hover {
  background: #1f1c54;
}

/* Assuming you're using Font Awesome icons */
.fas {
  font-size: 1.25rem;
}

/* Results section */
.results-section {
  padding: 1rem;
  border: none;
  border-radius: 4px;
}

/* Message section */
.message {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

footer{
  background: transparent;
  text-align: center;
  margin: 10px;
  font-size: 14px;
  padding: 10px;
  bottom: 0;
}
.ad-card {
        max-width: 400px;
        margin: 20px auto;
        background: linear-gradient(45deg, #833AB4, #C13584);
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
  .ad-card  h2 {
        color: white;
        font-size: 17px;
    }
  .ad-card  p {
        color: #f5f5f5d5;
        font-size: 14px;
    }
    .btn-whatsapp {
        display: inline-block;
        background-color: #25d366;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }
        .btn-whatsapp:hover{
          border: solid 1px #25D366;
  background:#127437 ;
        }
        

.profile-container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        .logout-btn {
            background-color: #ff6347;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }
        .subscription-timer {
            font-size: 18px;
            color: #333;
        }
        .username {
            font-size: 24px;
            color: #333;
        }
        .piccolo-info {
            margin-top: 20px;
        }
        
        
        .slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
  #sub-pages {
    background-image: url('https://image.tmdb.org/t/p/original/xwzJiqdDIlXYeUkPjbOvXZicig2.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width:100vw;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
#partner{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.input-group{
  margin-top:10px;
}
#sub-btn{
  align-content: center;
  justify-content: center;
  background: #25D366;
  margin: 15px;
  padding:10px ;
  border:none;
  font-weight:bolder;
  color:whitesmoke;
  border-radius: 5px;
}
#sub-btn:hover{
  border: solid 1px #25D366;
  transform: scale(1.1);
  background:#127437 ;
}
#sub-card{
  margin-bottom:15px;
}
#sub-btn a{
  color:whitesmoke;
}

.passwordpage,
.signuppage,
.loginpage{
  color:black;
  height: 100vh;
  width:100vw;
  background: whitesmoke;
  overflow: auto;
}
#password-contents,
#signup-contents,
#login-contents{
  margin: 5px;
}
#signup-header,
#login-header{
  display: flex;
  justify-content: space-between;
  
}
#signupbtn{
  position: relative;
  font-weight: bolder;
  right:5px;
  border:none;
  background: none;
}
.text-area{
  margin:30px;
}
 .form-group{
   margin:20px;
 }
 #form-final{
   margin-left:50px;
   margin-right:50px;
   justify-content: center;
   align-content: center;
   align-items: center;
   text-align: center;
 }
 .signup-btn,
 .submit{
   background: #8a2be2;
   color:white;
   border:none;
   border-radius: 3px;
   width:250px;
   height: 65px;
   padding: 10px;
   text-align: center;
   cursor: pointer;
   font-size: 25px;
   font-weight: bolder;
 }
  .signup-btn:hover,
 .submit:hover{
   background:#4c1084 ;
   border:solid 1px blueviolet;
   transform: scale(1);
   color:black;
 }
 #footerbtn{
  font-weight: bolder;
  color:blueviolet;
  border:none;
  background: none;
 }
 #footer-signup,
 #footer-login{
   display: flex;
   flex-direction: column;
   margin:25px;
   text-align: center;
   font-size: 12px;
 }
 
 
 #watchbtn {
  padding: 15px;
  border-radius: 5px;
  border: solid blueviolet 1px;
  position: fixed;
  bottom: 30px; /* Adjust as needed */
  left: 50%;
  background: blueviolet;
  color:whitesmoke;
  font-weight: bolder;
  transform: translateX(-50%);
}
#berry{
  text-align: center;
  color:whitesmoke;
  font-weight: bold;
}
#Majorlogo{
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top:55%;
  color:blueviolet;
  font-size: 50px;
  font-weight:bolder;
  background: rgb(252,204,69);
  background: linear-gradient(171deg, rgba(252,204,69,1) 0%, rgba(255,80,169,1) 23%, rgba(168,59,217,1) 41%, rgba(78,103,255,1) 52%, rgba(58,177,180,1) 66%, rgba(44,218,128,1) 78%, rgba(240,247,66,1) 93%);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 animation: GradientAnimation 5s ease infinite;
}
@keyframes GradientAnimation {   
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}